
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image:url("https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148639325.jpg");
    background-size:cover;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type='search'] {
    padding: 8px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #0284c7;
    color: white;
    cursor: pointer;
  }
  
  select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    position: relative;
    margin-top: 10px;
  }
  
  .dropdown-container {
    text-align: center;
  }
  
  select option:checked {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  .Loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* You can adjust the height as needed */
  }
  @keyframes buttonAnim {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .search-button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    background-color: #0284c7;
    color: white;
    cursor: pointer;
    animation: buttonAnim 1s ease infinite;
  }
  
  
  @media screen and (max-width: 600px) {
    input[type='search'] {
      width: 80%;
      max-width: 300px;
    }
    
    select {
      margin-top: 5px;
    }
  }
  